name: Sync Upstream
on:
  schedule:
    - cron: '0 0 * * *' # Runs daily at midnight UTC
  workflow_dispatch:   # Allows you to trigger it manually for testing

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Sync and merge upstream
        uses: dabreadman/sync-upstream-github@v1.3.0
        with:
          upstream_repository: FreeCAD/FreeCAD
          upstream_branch: main
          target_branch: main
          github_token: ${{ secrets.GITHUB_TOKEN }}
