name: Sync Upstream
on:
  schedule:
    - cron: '0 0 * * *' # Daily at midnight
  workflow_dispatch:   # Manual trigger

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Merge Upstream
        run: |
          git config --global user.name 'ilf-S'
          git config --global user.email 'ilf-S@users.noreply.github.com'
          git remote add upstream https://github.com/FreeCAD/FreeCAD.git
          git fetch upstream
          git checkout main
          git merge upstream/main --ff-only || git merge upstream/main --no-edit
          git push origin main
